

.line {
  fill:none;
  stroke:var(--bs-cyan);
  stroke-width:2px;
}

.grid line {
  stroke: lightgrey; 
  stroke-opacity: 0.7; 
  shape-rendering: crispEdges;
}

.grid path { 
  stroke-width: 0;
}

#champDiv {
  text-align: center;
  margin: 0 auto;
  width: 65%;
}

/* Style the top navigation bar */
.navbar {
  width: 100%;
  font-size: 32px;
  overflow: hidden;
  margin-bottom: 5px;
  background-image: url("bg.webp");
  background-position: center;
}

.navbar h1 {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#graph {
  text-align: center;
}

body{
  font-family: 'Verdana', sans-serif;
  grid-template-rows: 1fr 50px;
  background: linear-gradient(to bottom,#010d21, #08234f);
}


.column {   
  padding: 5px;
  background-color: var(--bs-white);
  margin: 0 auto;
  width: 60%;
}

#form-check {
  text-align: center;
}

.form-check-inline {
  display: inline-block;
}

#champ1 {
  height: 210px;
  margin: 5px;
  vertical-align: top;
  display: inline-block;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 3px;
  padding: 5px;
  background-color: var(--bs-white);
}

#champ2 {
  height: 210px;
  margin: 5px;
  vertical-align: top;
  display: inline-block;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 3px;
  padding: 5px;
  background-color: var(--bs-white);
}

h2 {
  margin: 2px;
  font-size: 22px;
}

#champName1 {
  color: var(--bs-cyan);
}

#champName2 {
  color: var(--bs-orange);
}

#circles {
  fill: var(--bs-gray);
}

#dots {
  fill: var(--bs-gray-dark);
}


form {
  margin: 5px;
  vertical-align: top;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 42px;
  padding: 2px;
  font: 12px sans-serif;
  background: var(--bs-light);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

* { box-sizing: border-box; }



.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 5px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=button] {
  background-color: var(--bs-blue);
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
  
footer {
  padding: 2px;
  font-size: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .column {
    width: 100%;
  }
  #champDiv {
    width: 100%;
    display: inline-block;
  }
  #champ1 {
    width: 160px;
    height: 230px;
  }
  #champ2 {
    width: 160px;
    height: 230px;
  }
  .navbar h1 {
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 5px;
  }
}


/*!
* Start Bootstrap - Grayscale v7.0.1 (https://startbootstrap.com/theme/grayscale)
* Copyright 2013-2021 Start Bootstrap
* Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-grayscale/blob/master/LICENSE)
*/
/*!
 * Bootstrap v5.0.1 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #7464a1;
  --bs-pink: #d63384;
  --bs-red: #a16468;
  --bs-orange: #fd7e14;
  --bs-yellow: #e4c662;
  --bs-green: #67c29c;
  --bs-teal: #64a19d;
  --bs-cyan: #1cabc4;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #64a19d;
  --bs-secondary: #7464a1;
  --bs-success: #67c29c;
  --bs-info: #1cabc4;
  --bs-warning: #e4c662;
  --bs-danger: #a16468;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

